// Mobile First

.sector-card-container__card {
    border-bottom: 1px black solid;
    background-color: #A7CCED;
    padding: 14px;
    margin: 5px;
    // order: 2;
}

.sector-card-container {
    background-color: #63ADF2;
    display: inline-block;
    flex-wrap: wrap;
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px){
    .sector-card-container {
        background-color: #63ADF2;
        display: flex;
        margin:auto;
        width: 100%;
        // padding: 1em;
        overflow: auto;
        max-height: 500px;
        align-content: center;
        justify-content: space-evenly;
    }

    .sector-card-container__card {
        border-bottom: 1px black solid;
        width:40%;
        padding: 14px;
        margin: 5px;
        // order: 2;
    }

}