<div class="container">
  <div class="row justify-content-center">
    <!-- <strong>
      <h1 class="h1 title-effect">All In</h1>
    </strong> -->
  </div>
  <div class="company-select-parent">
    
      <span
        (click)="getCompany(companySelector.value)" 
        
        id="basic-text1">
        <!-- <i class="fa fa-search text-white" aria-hidden="true"></i> -->
      </span>
   
    <input #companySelector 
      class="company-select__input" 
      type="text" 
      placeholder="Enter in Company Name or Symbol" 
      aria-label="Search" 
      (keyup)="findSymbol(companySelector.value)"
      (keyup.enter)="getCompany(companySelector.value)"
      >
  </div>
  <div *ngIf="filteredSymbols != null" class="auto-complete-container" id="style-1">
    <div #autocomplete *ngFor="let sym of filteredSymbols" class="my-0 py-1 auto-complete symbol-item">
     <div class="" (click)="getCompany(sym.Symbol)"> {{sym.Symbol}} <span class="company-name-ac">{{sym.Name}}</span></div>
    </div>
  </div>
</div>