.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}

.auto-complete{
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.company-name-ac{
    font-size: small;
}

.symbol-item{
    color: purple;

}

.symbol-item:hover{
    background-color: rgba(233, 84, 233, 0.493);
}

.title-effect{
    animation: 1s ease-in 0s 1 titleEffect;
}


@keyframes titleEffect {
    from { opacity: 0}
    to   { opacity: 1}
}